main {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}


#selectors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    justify-content: space-between;
    /* align-items: flex-start; */
    align-items: center;
    align-content: space-between;
}

.right-spacer {
    padding-right: 2%;
    flex-grow: 1;
}

.flex-priority {
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

#sort-instruction {
    padding-right: 0;
}

select {
    /* vertical-align: baseline; */
    color: #222;
    font-size: 100%;
    font: inherit;
    width: 280px;
}

#hospital-list > a {
    color: #8ead67;
    text-decoration: none; /* This gets rid of the underline */
}