.input-spacer {
    padding-top: 4%;
}

main {
    padding-top: 0;
    padding-left: 5;
    padding-right: 5;
    padding-bottom: 0;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-obj {
    font-size: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

