.input-spacer {
    padding-top: 6%;
}

.centered-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.centered-obj {
    font-size: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}